body {
  /* background-image: url("./assets/image/background-body.jpg");
  background-position: left top;
  background-repeat: repeat; */
  background: url("./assets/image/background-body.jpg") left top repeat;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
}